.container {
    width: 95%;
    margin-inline: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.list {
    list-style: none;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
}

.color {
    display: block;
    width: 25px;
    height: 25px;
    background: black;
}

.list-item {
    border: 1px solid rgb(36, 11, 175);
    padding: 10px;
    border-radius: 11px;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.section-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}